  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .login-register{
    display: flex;
    gap: 20px; 
  }

  .nav-link {
    text-decoration: none; 
    color: rgba(33, 132, 203, 0.734); 
    font-size: 18px; 
    font-weight: bold; 
    transition: color 0.3s ease; 
  }
  
  
  .nav-link.active {
    color: #f39c12; 
  }
  
  
  .nav-link:hover {
    color: #f39c12; 
  }
  